<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>La Ceiba</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Ejemplo de formulario de acceso basado en HTML5 y CSS">
        <meta name="keywords" content="login,formulariode acceso html">
        <link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../sources/css/categorias.css">
    </head>
    <body>
		<div id="contenedor">
            <div id="contenedortabla">
                <a href="/goformcreatecategoria"><img src="./sources/img/plus.png" alt="goformcreatecategoria"></a>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                    </tr>
                    <tbody id="tablacategoria">
                        <% if (dato.length>0) { %>
                            <% for( let index = 0; index < dato.length; index++ ) { %>
                                <tr><td><%=dato[index].id_cat%></td><td><%=dato[index].nombre%></td><td><%= dato[index].Descripcion %></td><td><a href="/goformupdatecategoria/<%=dato[index].id_cat%>"><img src="./sources/img/edit.png" alt="updatecategoria"></a></td><td><a href="/deletecategoria/<%=dato[index].id_cat%>"><img src="./sources/img/cross.png" alt="deletecategoria"></a></td></tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>