<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>La Ceiba</title>
	<link rel="stylesheet" href="/sources/css/estilos.css">
	<link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../sources/css/cliente.css">
</head>
<body>
	<div id="contenedor">
		<div id="contenedortabla">
			
			<table>
				<tr>
					<th>ID PRODUCTO</th>
					<th>ID CATEGORIA</th>
					<th>ID PROVEEDOR</th>
					<th>NOMBRE</th>
					<th>CANTIDAD</th>
					<th>VALOR</th>
					<th><a href="/goformcreateproducto"><img src="./sources/img/circle_plus_icon_255898.png" alt="createcliente"></a></th>
				</tr>
				<tbody id="tablaproducto">
					<% if (dato.length>0) { %>
						<% for( let index = 0; index < dato.length; index++ ) { %>
							<tr><td><%=dato[index].id_producto %></td><td><%=dato[index].id_cat %></td><td><%= dato[index].id_prov %></td><td><%=dato[index].nombre %></td><td><%=dato[index].cantidad%></td><td><%=dato[index].valor%></td><td><a href="/goformupdateproducto/<%=dato[index].id_producto%>"><img src="./sources/img/edit_icon_255891.png" alt="update"></a></td><td><a href="/deleteproducto/<%=dato[index].id_producto%>"><img src="./sources/img/remove_delete_trash_icon_255976.png" alt="delete"></a></td></tr>
						<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>