<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>La Ceiba</title>
    <link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./sources/css/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <section class="layout">
        <div id="sidebar">
            <nav id="menu">
                <div class="login-box"><img class ="avatar" src="./sources/img/logo.png" alt ="logo de la ceiba"></div>
                <ul><li><a href="/gousuario"><img class="icono" src="./sources/img/account_circle_user_icon_255531.png" alt="usuario">Usuarios</a></li></ul>
                <ul><li><a href="/goproducto">Producto</a></li></ul>
                <ul><li><a href="/gocategoria">Categoria</a></li></ul>
            </nav>
        </div>
        <div class="body">
            <legend>Producto</legend>
            <div id="contenedortabla">
			<table>
				<tr>
					<th>#</th>
					<th>NOMBRE</th>
					<th>CATEGORIA</th>
					<th>DESCRIPCION</th>
					<th>STOCK</th>
					<th><a href="/goformcreateproducto"><img src="./sources/img/circle_plus_icon_255898.png" alt="createcliente"></a></th>
				</tr>
				<tbody id="tablaproducto">
					<% if ((dato.length>0) && (dato2.length>0)) { %>
						<% for( let index = 0; index < dato.length; index++ ) { %>
							<tr><td><%=dato[index].id_product %></td><td><%=dato[index].nombre %></td><td><%=dato2[dato[index].id_cat].nombre %></td><td><%=dato[index].descripcion%></td><td><%=dato[index].stock%></td><td><a class="edit" href="/goformupdateproducto/<%=dato[index].id_product%>"><img src="./sources/img/edit_icon_255891.png" alt="update"></a><a class="edit" href="/deleteproducto/<%=dato[index].id_product%>"><img src="./sources/img/remove_delete_trash_icon_255976.png" alt="delete"></a></td></tr>
						<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
        </div>
      </section>
</body>
</html>