<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>La Ceiba</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Ejemplo de formulario de acceso basado en HTML5 y CSS">
        <meta name="keywords" content="login,formulariode acceso html">
        <link rel="shortcut icon" href="/sources/img/icons8-oak-tree-16.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="../sources/css/proveedor.css">
    </head>
    <body>
        <div id="contenedor">
            
            <div id="contenedortabla">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th><a href="/goformcreateproveedor"><img src="./sources/img/circle_plus_icon_255898.png" alt="createproveedor"></a></th>
                    </tr>
                    <tbody id="tablaproveedor">
                        <% if (dato.length>0) { %>
                            <% for( let index = 0; index < dato.length; index++ ) { %>
                                <tr><td><%=dato[index].id_prov%></td><td><%=dato[index].nombre%></td><td><%= dato[index].Direccion %></td><td><%=dato[index].telefono %></td><td><a href="/goformupdateproveedor/<%=dato[index].id_prov%>"><img src="./sources/img/edit_icon_255891.png" alt="updateproveedor"></a></td><td><a href="/deleteproveedor/<%=dato[index].id_prov%>"><img src="./sources/img/remove_delete_trash_icon_255976.png" alt="deletecliente"></a></td></tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>